/* imports --------------- */
@import "@assets/styles/reset.css";
@import "@assets/styles/fonts.css";
@import "@assets/styles/vars.css";

/* styles for html containers ------------------ */
body {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* styles for tags ------------------------- */
h1, h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 80px;
    color: var(--dark-grey);
}

h1 {
    color: var(--teal);
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 157%;
    color: var(--dark-grey);
    opacity: 0.7;
}

a, button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: var(--teal);
    transition: .2s;
}

a {
    position: relative;
}

a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;

    background: var(--teal);

    position: relative;
    top: -3px;

    transition: .2s;
}

a:hover::after {
    width: 100%;
}

/* styles for classes --------------------- */

.container {
    max-width: 1760px;
    width: 100%;

    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;

    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* meida ----------------------*/
@media (max-width: 1000px) {
    h1, h2 {
        font-size: 65px;
    }
}

@media (max-width: 420px) {
    h1, h2 {
        font-size: 45px;
    }
}